.spinner {
  position: relative;
  width: 52.8px;
  height: 52.8px;
  perspective: 105.6px;
}

.spinner div {
  width: 100%;
  height: 100%;
  background: #3377cc;
  position: absolute;
  left: 50%;
  transform-origin: left;
  animation: spinner-16s03x 1.2s infinite;
}

.spinner div:nth-child(1) {
  animation-delay: 0.09s;
}

.spinner div:nth-child(2) {
  animation-delay: 0.18s;
}

.spinner div:nth-child(3) {
  animation-delay: 0.27s;
}

.spinner div:nth-child(4) {
  animation-delay: 0.36s;
}

.spinner div:nth-child(5) {
  animation-delay: 0.44999999999999996s;
}

@keyframes spinner-16s03x {
  0% {
    transform: rotateY(0deg);
  }

  50%,
  80% {
    transform: rotateY(-180deg);
  }

  90%,
  100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}
